<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>登录</title>
    <!--bootstrap css-->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <style>
        .position{
            position:absolute;
            left:0;
            right:0;
            top:0;
            bottom:0;
            margin:auto;
            }
    </style>
</head>
<body>

<div class="container position">
    <div class="row">
        <!--标题-->
        <div class="col-md-4 col-md-offset-4">
            <div>
                <h1 class="page-header text-center text-primary">登录系统</h1>
                    <blockquote>
                        <p>你若能绕过经验，便会有创新之举.</p>
                        <footer class="text-right">史蒂夫·乔布斯</footer>
                    </blockquote>
            </div>
        </div>
        <!--头像-->
        <div class="col-md-4 col-md-offset-4">
            <div>
                <img src="/static/source/img/login.jpg" class=" center-block img-circle" width="100" height="100" />
            </div>
        </div>
        <!--登陆表单-->
        <div class="col-md-4 col-md-offset-4 ">
            <form ation="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label >账户</label>
                    <input type="email" class="form-control input-lg" name="email" placeholder="Email">
                </div>

                <div class="form-group">
                    <label>密码</label>
                    <input type="password" class="form-control input-lg" name="password" placeholder="Password">
                </div>

                <div class="form-group">
                    <input type="submit"  value="登录" class="btn btn-primary ">
                    <input type="reset"   value="清除" class="btn btn-danger">
                </div>
                <p class="text-left text-danger">(注 ：只有管理员可登录，谢绝外人访问 )</p>
            </form>
        </div>

    </div>
</div>
    <!--引入背景-->
    <canvas id="Mycanvas" style="align-content:center;background-color:#fff"></canvas>
    <script src="/static/bootstrap/js/canvas.js"></script>
	<!--导入js-->
	<script src="/static/bootstrap/js/jquery.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>