{% extends "base.html" %}
{% block title %} login {% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-3 center-block" >
            <form ation="" method="post">
                <div class="form-group" >
                    <label for="email" >Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email">
                    <br>
                    <label for="password">Passeord</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                    <br>
                    <button type="submit" class="bnt btn-success">submit</button>


                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}