{% extends "base.html" %}
{% block head %}
<style>
	/* 透明块*/
        .led{
            margin-left: auto;
            margin-right: auto;
            margin-top:30px;
            text-align: center;
            background-color: transparent;
            width: 300px;
            padding:10px 0 50px 0;
            border-radius: 20px;
            border: 1px solid green;
            color:#000;

            }
		.open_button{
            width:250px;
            height:40px;
            line-height:40px;
            background-color:#27ae60;
            color:#fff;
            border-radius: 4px;
            border: 1px solid #27ae60;
            font-size:16px;
            margin:30px;
            
            }     
        
            
        .close_button{
            width:250px;
            height:40px;
            line-height:40px;
            background-color:#000;
            color:#fff;
            border-radius: 4px;
            border: 1px solid #000;
            font-size:16px;
            margin-top:0px;
            
            }
            

</style>
{% endblock %}
{% block title%}控制{% endblock %}
{% block content %}

<div class="led">
	<h1>控制灯</h1>
	<img src="/static/img/led.png" width="50" height="100">
	<div class="row ">
		<div>
			<h4>灯的开关控制</h2>
		</div>
	</div>
			
	<div class="row">			
		<div>
			<div>
				<input id="led_open" class="open_button" type="submit" value="open led">
			</div>
			
			<div>
				<input id ="led_close" class="close_button" type="submit" value="close led">
			</div>
					
		</div>						
	</div>
</div>
<script>
	$(function(){
		$("#led_open").click(function(){
			$.ajax({
				url:"/control",
				type:'POST',
				data:{
					switch:'开',
					csrfmiddlewaretoken:'{{ csrf_token }}',
					},
				dataType:"text",
				success: function(data){
					alert(data);
				},
			});
		});
	});
	
	
	
	$(function(){
		$("#led_close").click(function(){
			$.ajax({
				url:"/control",
				type:'POST',
				data:{
					switch:'关',
					csrfmiddlewaretoken:'{{ csrf_token }}',
					},
				dataType:"text",
				success: function(data){
					alert(data);
				},
			});
		});
	});
				
					


</script>


{% endblock%}
