{% extends "base.html" %}
{% block head %}
<style>

</style>
{% endblock %}
{% block title%}控制{% endblock %}
{% block content %}

<div class="container">
	<h1 class="text-center"> 控制页面</h1>
	<div class="row ">
		<div class="col-md-4 col-md-offset-4">
			<div class="text-center">
				{% if state %}
				<h2>ok,灯已： {{ state }}</p>
				{% else %}
				<h2>灯的开关控制</h2>
				{% endif %}
				
			</div>
			<form class="form-inline" action="" method="post">
				{% csrf_token %}
				<div class="form-group">
					<select class="form-control" name="switch">
						<option value="" selected="true" disabled="true">-- 开或关 --</option>
						<option>开</option>
						<option>关</option>
					</select>
					<input class="btn btn-primary" type="submit" value="submit">
				</div>	
			</form>
		</div>	
			
		
	</div>

</div>



{% endblock%}
