{% extends "base.html" %}
{% block head %}
<style>
	/* 透明块*/
        .led{
            margin-left: auto;
            margin-right: auto;
            margin-top:30px;
            text-align: center;
            background-color: transparent;
            width: 300px;
            padding:10px 0 50px 0;
            border-radius: 20px;
            border: 1px solid green;

            }

</style>
{% endblock %}
{% block title%}查看{% endblock %}
{% block content %}
<div class="container">
	<h1 class="text-center">查看页面</h1>
	<div class="led text-center" >
		<h1 class="text-center">灯已：{{ p2 }}</h1>		
		<img src="/static/img/led.png" width="50" height="100">
		<h3>{{ p4 }}</h3>
		<h3>{{ p5 }}</h3>
		<h3>{{ p6 }}</h3>
		
	</div>

</div>



{% endblock%}
