{% extends "base.html" %}
{% block head %}
<link href="/static/bootstrap/css/weather.css" rel="stylesheet" type="text/css">
<style>
	/* 透明块*/
        .led{
            margin-left: auto;
            margin-right: auto;
            margin-top:30px;
            text-align: center;
            background-color: transparent;
            width: 300px;
            padding:10px 0 50px 0;
            border-radius: 20px;
            border: 1px solid green;
            box-shadow:10px 10px 5px #888888;
            color:#000;

            }

</style>
{% endblock %}
{% block title%}查看{% endblock %}
{% block content %}
<div class="container">
	<div class="led text-center" >
		<h1 class="text-center">灯已：{{ LED }}</h1>		
		<img src="/static/img/led.png" width="50" height="100">	
		<div>
			<h3 id="temperature">{{ temperature }}</h3>
		</div>
		
		<div>
			<h3 id="humidity">{{ humidity }}</h3>
		</div>						
	</div>
</div>

<div class="weather-wrapper">
    <div class="weather-card madrid">
        <div class="weather-icon sun"></div>
        <h1>26º</h1>
        <p>厦门</p>
    </div>
    <div class="weather-card london">
        <div class="weather-icon cloud"></div>
        <h1>14º</h1>
        <p>上海</p>
    </div>
</div>



<div class="led" style="padding-top:50px;">
	<h3 id="p0"></h3>	
	<h3 id="p1"></h3>
	<h3 id="p2"></h3>
</div>



<script>
	// time function
	$(document).ready(function(){
		setInterval("startRequest()",1000); // every 3s do once startRequest()
			
	});
	
	
	// startRequest()
	function startRequest(){
		
		var d = new Date();
		$("#p0").html(d);
		
		$.ajax({
				url:"/look",
				type:"POST",
				dataType:"json",
				data:{
					csrfmiddlewaretoken:'{{ csrf_token }}'
				},
				
				success:function(data){
					$("#p1").html(data['temperature']);
					$("#p2").html(data['humidity']);
				},
		});
	};




</script>



{% endblock%}
